
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forms</title>
</head>
<body>
    <div id="form">
    </div>

    <script src="~/ReactNode/src/bundle.js"></script>

</body>
</html>
