
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="app"></div>
    <div id="globalState"></div>

    <!--引用JSX之轉換輸出檔-->
    <script src="~/ReactNode/src/app.bundle.js"></script>
    <script src="~/ReactNode/src/vendor.bundle.js"></script>

</body>
</html>
